<h1>Members</h1>

<%= link_to "New Member", new_member_path %>
<ul>
  <% @members.each do |member| %>
  <li>
    <%= link_to member.name, member %>
    <%= member.rank %>
    [ <%= link_to "Edit", edit_member_path(member) %> ]</li>
  <% end %>
</ul>
